 #earth {
  width: 200;
  height: 200;
  transform: translate(-50%, -50%);
 }
 #moon {
  width: 80;
  height: 60;
  transform: translate(-50%, -50%);
 }
 #mars {
    width: 200;
    height: 200;
    transform: translate(-50%, -50%);
 }